.work-space{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background: rgb(131, 160, 215);
    
    flex-wrap: wrap;
    
}

img{
    max-width: 300px;
    max-height: 300px;
}

.main-space{
    display: flex;
}

.girl{
    margin: 10px;
    border-radius: 20px;
    border-color: red;
    border:#0d8717 5px solid;
    justify-content: center;
    background-color: #29bbff;
    }
.girl :last-child{
    align-items:flex-end;
}
.girl img{
    max-width: 400px;
    
}
.girl .girl-name{
    display: flex;
    justify-content: center;
}

.menu{
    background: blue;
    width: 150px;
}
.menu .button{
    width: 145px;
    height:30px;
    display: flex;
    justify-content: center;
}


.button{
    flex: 1;
    justify-content: center;
    align-items: center;

	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:1px;
	border:3px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	width: 1;
	text-decoration:none;

	    
}
.button:hover{
    box-shadow:inset 0px -22px 0px 5px #29bbff;
    
}
.button:active{    
    box-shadow:inset 10px 0px 5px 1px #29bbff; 
}

.buttons{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items:flex-end;
}

.buttons :last-child{
    border-bottom-right-radius: 13px;
}
.buttons :first-child{
    border-bottom-left-radius: 13px;
}

a{
    text-decoration: none;
}