@model List<ImageIndexViewModel>;

@{
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}

<div>
    Сейчас есть такие картинки

</div>
<div>
    @foreach (var image in Model){
        <div>
            <a href=/Gallery/ShowImage?id=@image.Id>@image.Name</a>
        </div>
    }
</div>
 <div>
     <a href=/Gallery/AddImage>Add Image</a>
</div>